<section>
    <h1>EDIT PLACE</h1>
    <form action="/edit-place{{id}}" method="POST">
        <div>
            <label for="name">Name
                <input value="{{name}}" name="name" placeholder="New name place">
            </label>
        </div>

        <div>
            <label for="name">Type
                <input value="{{type}}" name="type" placeholder="coffee shop or bookstore?">
            </label>
        </div>

        <button>REFRESH PLACE</button>
    </form>
</section>