<section>
    <h1>NEW PLACE</h1>
    <form action="/new-place" method="POST">
        <div>
            <label for="name">Name <input type="text" name="name" placeholder="Name place">
            </label>
        </div>

        <div>
            <label for="name">Type
                <input type="text" name="type" placeholder="coffee shop or bookstore?">
            </label>
        </div>

        <input type="submit">
    </form>
</section>